responses.dtd

<!ELEMENT Responses (Response+)>
<!ELEMENT Response (MCAnswer|NumAnswer|TimeAnswer)*>
<!ATTLIST Response sID ID #REQUIRED>

<!ELEMENT MCAnswer (Answer*)> 
<!ATTLIST MCAnswer qID CDATA #REQUIRED>

<!ELEMENT NumAnswer (Answer)>
<!ATTLIST NumAnswer qID CDATA #REQUIRED>

<!ELEMENT TimeAnswer (Answer, Answer, Answer*)>
<!ATTLIST TimeAnswer qID CDATA #REQUIRED>

<!ELEMENT Answer (#PCDATA)>